  <!-- About Section -->
<section id="companies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">I.T. Professionals</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>The Western New York technology-focused students are your future employees, 
                co-workers, vendors and business partners. We are confident that you recognize 
                the importance of supplementing their education with real-world experiences. 
                We also understand that you may be unable to provide the actual internships 
                that give students a real-world exposure.
                </p>
                <p>We therefore request that you consider allowing students the opportunity to shadow 
                you or a member of your IT staff during the winter intersession (January 7th, 2016
                and/or January 8th, 2016).
                </p>

                <h2>Benefits to the Sponsoring Professional:</h2>
                <ul>
                    <li>The best way to improve your own abilities is to teach them to someone else.</li>
                    <li>Obtain objective views and new ideas to solve problems.</li>
                    <li>Personal satisfaction of making a difference in a student's professional development.</li>
                </ul>

                <h2>Benefits to the Sponsoring Company:</h2>
                <ul>
                    <li>A more educated future talent pool.</li>
                    <li>Awareness of your company (which can directly lead to an increase in
                    candidates for future openings).</li>
                    <li>Ability to meet a company's mission to contribute to the benefit of 
                    society and take an active role in improving our community.</li>
                </ul>
                


                <h2>Steps To Participate:</h2>
                <ol>

               <li>Register! Complete one form for each sponsoring professional.  If a sponsor is willing to take more than one student, indicate this on the form.
               </li>
                <li>Complete the form as fully as possible. The more information you can provide, the better prepared the student will be before shadowing you and the better we will be able to respond to your requirements/requests.
                </li>
                <li>The Shadow Administrators will confirm your regsitration and match you with a student(s) in mid December.
                </li>
                <li>Communicate any special instructions to studnets via email and respond to their pre-sponsor questions via emails or phone calls
                </li>
                <li>Provide a fantastic learning opportunity to your student(s)!  It is not an internship, but let them sit in on meetings, explain what you do and how you do it, introduce them to others on your team, take them to lunch (optional), etc. You can even take them on client calls if you are comfortable enough to do so.
                </li>
                    <li>Provide feedback, to the student and also to the Shadow Adminitrators when asked.
                </li>
                </ol>

                <h4>infoTech WNY Shadow Program Disclaimer:</h4>
                <small>The Shadow Program is not intended as a job search mechanism; the students are participating for educational purposes only, not to perform work for the organizations involved.
                The organizers of this program are not placement professionals and have not pre-screened the students, their resumes or their academic credentials.
                Conversely, the organizers have also not screened the participating companies.
                We assume that the companies are viable, reputable companies who are offering this experience for the sake of expanding the  knowledge of careers in the field of  information technology.
                </small><p>
                <p>
                  <a href="#/companies/apply" class="btn btn-xl">Sign Me Up!</a>
                </p>
            </div>
        </div>
    </div>
</section>