    <!-- Contact Section -->
    <section id="contact" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Have Questions?</h2>
                    <h3 class="section-subheading text-muted">E-mail Us!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/grant.png" class="img-responsive img-circle" alt="">
                        <h4>Kim Grant</h4>
                        <p class="text-muted">New York State Center of Excellence<br>
                            Bioinformatics & Life Sciences</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:kimgrant@buffalo.edu?subject=Infotech WNY Shadow Program"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/kavanaugh.PNG" class="img-responsive img-circle" alt="">
                        <h4>Michelle Kavanaugh, Ed.D.</h4>
                        <p class="text-muted">New York State Center of Excellence<br>
                            Bioinformatics & Life Sciences</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:mkavan61@aol.com?subject=Infotech WNY Shadow Program"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/Ruggiero.png" class="img-responsive img-circle" alt="">
                        <h4>Melissa Ruggiero</h4>
                        <p class="text-muted">University at Buffalo<br>School of Management</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:mrugg@buffalo.edu?subject=Infotech WNY Shadow Program"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/ronca.png" class="img-responsive img-circle" alt="">
                        <h4>Peter Ronca</h4>
                        <p class="text-muted">ShatterIT / <br>Infotech WNY</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:pronca@shatterit.com?subject=Infotech WNY Shadow Program"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--

                <div class="col-sm-6">
                   <div class="team-member">
                      <img src="img/team/HollyMJustice.jpg" class="img-responsive img-circle" alt="">

                        <h4>Holly Justice</h4>
                        <p class="text-muted">UB School of Engineering</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:hjustice@buffalo.edu?subject=Infotech WNY Shadow Program"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                -->

            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large white">We're here to help, send us your questions and we'll get back to you as soon as possible.</p>
                </div>
            </div>
        </div>
    </section>