    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Explore a career!</div>
                <div class="intro-heading">Shadow a professional</div>
                <a href="./#/register" class="btn btn-xl">Sign Me Up!</a>
            </div>
        </div>
    </header>
    
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">infoTech Niagara's yearly shadow program creates the opportunity for students to experience a day in the life of a worker in a field they want to explore.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1:</h4>
                                    <h4 class="subheading">Tell Us Who You Are.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If you're a student, let us know what you're interested in experiencing.  If you're a company, let us know what you do!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2:</h4>
                                    <h4 class="subheading">We Play Matchmaker.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We go through all of the applications and match
                                     Students and Companies based on their interests and offerings.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3:</h4>
                                    <h4 class="subheading">Everyone Learns!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Students get to check out possible career paths.  Employers get to learn from students about new technologies and current  trends in academia.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <a class="white" href="./#/register">Sign
                                    <br>Up
                                    <br>Now!
                                    </a>
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <!--aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside -->
