
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Student Shadow Program</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  		<h2>Definition</h2>
		
						<p><b>Job shadowing</b> is a work experience option where students learn about a job firsthand by spending a work day as a shadow to a technology professional.  Job shadowing provides students an opportunity to watch, listen, learn and ask questions as they acquire insight into the scope and extent of a career in the information technology industry and the demands upon the I.T. professional.</p>
						
						<h2>Program Objective</h2> 
						
						<p>To provide an opportunity for technology-focused students to be exposed to a variety of learning experiences provided by participating companies and organizations through working professionals.  The intention of this program is to give students, who will soon enter the workforce, a clear understanding of the world of work.</p>

						<h2>How It Works</h2>
						
						<p>Students are matched with a professional for a one day shadowing experience within their career field of choice.  In order to participate, students are required to register before the deadline and a match will be made by the program organizers based on both the criteria set forth by each participating company and the preferrences set forth by each student.  Students will receive their match's contact information and will be required to make the initial contact and arrangements with the I.T. professional.  Students are responsible for their own travel expenses.</p>
                        <p>
						  <a href="./#/register" class="btn btn-xl"  target="_blank">Sign Me Up!</a>
                        </p>
                </div>
            </div>
        </div>
    </section>




