
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Student Shadow Program</h1>
                    <p>
                        infoTech Niagara's yearly shadow program creates the opportunity for students to experience a “day in the life” of a worker in a career they want to explore.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
            <h3>STEP 1:</h3>
            <h4>Tell Us Who You Are.</h4>
            If you're a student, let us know what you're interested in experiencing. If you're a shadow sponsor, let us know what you do!
            <h3>STEP 2:</h3>
                    <h4>We Play Matchmaker.</h4>
            We go through all of the applications and match Students and Shadow Sponsors based on their interests and offerings.

            <h3>STEP 3:</h3>
                    <h4>Everyone Learns!</h4>
            Students get to check out possible career paths. Employers get to learn from students about new technologies and current trends in academia.



                </div>
                </div>
            <div class="row">
                <div class="col-lg-12">
                  		<h2>Definition</h2>
		
						<p><b>Job shadowing</b>
                            Job shadowing is an experience  where students learn about a career firsthand by spending a work day as a shadow to a sponsoring professional.  In this case, all professionals are in the information technology fields.. Job shadowing provides students an opportunity to watch, listen, learn and ask questions as they acquire insight into the scope and extent of a career in the information technology industry and the demands upon the I.T. professional.  Job Shadowing is NOT an internship, though the company at which you spend a day may be informally evaluating you for potential future opportunities if they have a need.
                        </p>
						
						<h2>Program Objective</h2> 
						
						<p>To provide an opportunity for technology-focused students to be exposed to a variety of learning experiences provided by participating companies and organizations through working professionals (sponsors). The intention of this program is to give students, who will soon enter the workforce, a clear understanding of the world of work.
                    </p>
						<h2>How It Works</h2>
						
						<p>
                            Students are matched with a professional for a one day shadowing experience within their career field of choice. In order to participate, students are required to register before the deadline and a match will be made by the program organizers based on both the criteria set forth by each participating company and the preferences set forth by each student. Students will receive their match's contact information and will be required to make the initial contact and arrangements with the sponsoring professional. Students are responsible for their own travel and expenses.
                        </p>
                        <p>
						  <a href="./#/register" class="btn btn-xl"  target="_blank">Sign Me Up!</a>
                        </p>
                </div>
            </div>
        </div>
    </section>




