<header class="spacer"></header>
<!-- Login Section -->
<div ng-controller="login.controller">

    <section ng-show="!loggedIn()" id="login" >

        <div class="container">

            <div class="row">
                <h2>Login</h2>

                <form autocomplete="off">
                    <div ng-show="userMessage != ''" class="alert alert-warning alert-dismissable" role="alert">{{userMessage}}</div>
                    <fieldset>

                        <label>
                            <span>Email:</span>
                            <input type="text" autocomplete="off" class="form-control" name="email" ng-model="login.email"/>
                        </label>

                        <label>
                            <span>Password:</span>
                            <input type="password" autocomplete="off" class="form-control"  name="password" ng-model="login.password"/>
                        </label>
                    </fieldset>
                </form>


                <button class="btn btn-primary btn-lg" ng-disabled="processing.login" ng-click="login()">Login&nbsp;<i class="fa fa-spin" ng-class="{'fa-spinner' : processing.login}"></i></button>
            </div>
        </div>

    </section>
    <section ng-show="loggedIn()">
        <div class="container">
            <button class="btn btn-warning pull-right"  ng-click="logout()">Logout</button>
        </div>
        <div class="alert alert-dismissable">
            {{userMessage}}
        </div>
        <div class="container">


                <div class="col-sm-12">


                <h2>Companies&nbsp;<i class="fa fa-spin fa-spinner" ng-class="{'fa-spinner' : processing.companylist}"></i></h2>
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Company</th>
                        <th>URL</th>
                        <th>PersonToBeShadowed</th>
                    </tr>
                    <tr ng-repeat="company in companies">
                        <td>{{ $index + 1}}</td>
                        <td>{{ company.CompanyName}}</td>
                        <td>{{ company.CompanyURL}}</td>
                        <td>{{ company.PersonToBeShadowed}}</td>
                    </tr>
                </table>

                </div>
               <div class="col-sm-12" >


                <h2>Students&nbsp;<i class="fa fa-spin fa-spinner" ng-class="{'fa-spinner' : processing.studentlist}"></i></h2>
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Resume</th>
                    </tr>
                    <tr ng-repeat="student in students">
                        <td>{{ $index + 1}}</td>
                        <td>{{ student.Name}}</td>
                        <td>{{ student.Email}}</td>
                        <td>
                            <a style="cursor:pointer"  ng-click="download(student.ResumeData,student.ResumeFilename)">Download {{ student.ResumeFilename }}</a>
                        </td>
                    </tr>
                </table>
</div>

            </div>


    </section>

</div>