    <!-- Register -->
    <section id="register" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="btn-group inline center-block">
                    <div class="col-xs-6  block text-center">
                        <a class="btn btn-xl" href="http://goo.gl/forms/JGyweyo8tC" target="_blank">Student Registration</a>
                    </div>
                    <div class="col-xs-6  block text-center">
                        <a class="btn btn-xl" href="http://goo.gl/forms/ePNirZhU87" target="_blank">Company Registration</a>
                    </div>
                </div>
            </div>
        </div>
    </section>