    <!-- Register -->
    <section id="register" class="bg-light-gray">
        <div class="container">
            <div class="row">
            <h2>Register Now!</h2>
            <p>
                You're almost in! Click the appropriate button below, fill out the form, and we'll be in touch soon.  Thank you for deciding to participate in the ITN: Shadow Program, we hope that the experience will be educational and enjoyable for everyone involved.
            </p>
                <div class="btn-group inline center-block">
                    <div class="col-xs-6  block text-center">
                        <a class="btn btn-xl" href="http://goo.gl/forms/JGyweyo8tC" target="_blank">Student Registration</a>
                    </div>
                    <div class="col-xs-6  block text-center">
                        <a class="btn btn-xl" href="http://goo.gl/forms/ePNirZhU87" target="_blank">Company Registration</a>
                    </div>
                </div>
            </div>
        </div>
    </section>