  <!-- About Section -->
<section id="students">
    <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Students</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>InfoTech Niagara brings you our annual winter intersession IT Shadowing Program. 
                    We are currently in the process of identifying local companies/IT professionals who are 
                    willing to allow students to shadow an IT staff member throughout the day on either 
                    January 8 or 9, 2015. We have chosen the intersession so you are able to spend the entire 
                    day to get a more complete view of a 'day-in-the-life'.
                    </p>
                    
                    <p>Since  this program is open to all students from infoTech Niagara member schools, there are many more students than companies; therefore, we are only allowing students to participate in one shadow day (unless the supply outweighs the demand).
                    </p>
                    
                    <h2>Benefits to the Student:</h2>
                    <ul>
                        <li>Understanding of how their coursework connects to real IT solutions in industry.</li>
                        <li>Discover career opportunities through observation and discussion with professionals.</li>
                        <li>View of professional expectations in our business culture.</li>
                        <li>Understand the relationship between what you learn in class and a career.</li>
                        <li>Verify if this is something that you want to make a career out of.</li>
                        <li>See first-hand all aspects of a job - characteristics, responsibilities, day-to-day tasks.</li>
                        <li>Learn from professionals what it takes to be successful in the field.</li> 
                        <li>Identify what one needs to learn to be a professional in this industry.</li>
                        <li>Find out what employees do in the working world.</li>
                        <li>Realize skills necessary to succeed in the workplace.</li>
                        <li>Network with professionals in your field.</li>
                        <li>Opportunity to impress a potential future interviewer.</li>
                    </ul> 
                    
                    <h2>Steps to Participate:</h2>
                    <ol>
                        <li>Register! Preference is given to those who register early, i.e. one month prior to the Shadow Day.</li>
                        <li>Request up to three shadow opportunities.</li>
                        <li>Wait to be contacted by the Shadow Program Administrator to see who has selected you, 
                        or where you have been placed. This process takes place all throughout December and sometimes 
                        new requests need to be made. Some companies could be in high demand. The program administrator will contact you if you need to modify your company requests.</li>
                        <li>Once you are matched, you will receive an email with pertinent information at that time. Prepare for your shadow day experience: research the company, prepare questions for the 
                        professionals you shadow. We will provide a guide when we inform you of your assigned shadow company.</li>
                        <li>Shadow!</li>
                        <li>Send a professional thank you letter to all those at the company who let you interview and shadow them.</li>
                        <li>Promptly complete the evaluation we send you.</li>
                    </ol>
                    
                    <p>As you request a shadow opportunity, please understand that many other students are doing the same and we 
                    will communicate with you as soon as possible about the availability of your shadow day. Keep your mind open 
                    to possibilities! Once you are assigned to one of the shadow opportunities, more logistical information will 
                    be provided (i.e. contact information and a guide for that day).</p>

                    <p>
                    There is no guarantee each student will be assigned to a shadow opportunity. The program will do its best to identify companies and IT professionals for each willing student participant.
                    </p>

                    <h4>infoTech Niagara Shadow Program Disclaimer:</h4>
                    <small>The Shadow Program is not intended as a job search mechanism; the students are participating for educational purposes only, not to perform work for the organizations involved.  
                    The organizers of this program are not placement professionals and have not pre-screened the students, their resumes or their academic credentials. 
                    Conversely, the organizers have also not screened the participating companies. 
                    We assume that the companies are viable, reputable companies who are offering this experience for the sake of expanding the  knowledge of careers in the field of  information technology.
                    </small>
                    </p>
                    <p>
                      <a href="http://goo.gl/forms/lMwSlx4lSi" class="btn btn-xl" target="_blank">Sign Me Up!</a>
                    </p>
                </div> 
            </div>

    </div>
</section>