  <!-- About Section -->
<section id="companies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Apply (Students)</h1>
            </div>
        </div>
        <div class="row">
            <h3  class="text-center">Student submissions will open on Dec. 1st.</h3>
            <!--
            Form goes here
            Name
            Email
            Phone
            School
            LinkedIn Profile
            Resume URL OR (upload)

            Interested Fields *
            (Choose up to 3)
            IT Security
            Database Administration
            IT Support
            Enterprise Computing
            Enterprise Software Implementation & Consulting
            IT Project Management
            App/Application Development
            Network & Systems Administration
            System Architecture
            Web Development
            IT Systems Analysis
            Telecommunications Administration/Management
            Usability/Information Architecture
            UI/UX Design
            Startup Founder/Entrepreneur
            Other:


            Work Authorization * US Resident; Permanent Resident; Student Visa

            In what town will you be living during Jan. 8 or 9, 2015 (i.e. Niagara Falls, North Buffalo, Orchard Park, Irving)

-->

        </div>
    </div>
</section>